*{
    padding: 0%;
    margin: 0%;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #375a7e;
}

.container{
    display: flex;
}

.box{
    display: flex;
    flex-direction: column;
    border: solid 5px;
    border-radius: 25px;
    padding: 20px; 
    width: 800px;
    height: 700px;  
}

.title{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
}

.htext{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;

}

